/* Universal Selector */
* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 100%;
    margin: auto;
  }

.main-container{
    height: 100vh;
    width: 100%;
    background-color: rgb(66, 38, 38);
}