/* Universal Selector */
* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 100%;
    margin: auto;
  }

.main-content{
  width: 98vw;
  height: 90vh;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 10px;
}

.left{
  width: 60%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-shrink: 4; */
  /* flex-grow: 2; */
  /* background-color: cyan; */
}

.right{
  width: 47%;
  height: 85vh;
  /* background-color: rgb(157, 206, 23); */
}

.main-left-img{
  width: 90%;
  height: 90%;
  clip-path: polygon(0px 0px,90% 0px,100% 100%,0px 100%);
  /* border-top-left-radius: 4vh;
  border-bottom-left-radius: 4vh; */
  z-index: -1;
}

/* Designing the right half of the main content */
.login-form{
  width: 70%;
  height: 95%;
  background-color: rgba(0, 255, 255, 0.11);
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  padding: 10px;
  box-shadow: -2vw 2vw 2vw rgb(235, 233, 233);
}

.company-name{
  text-align: center;
  font-family: cursive;
  font-size: 2vw;
}

.greet{
  text-align: center;
  font-size: 1.5vw;
  padding: 10px;
}

.login-via-google{
  display: flex;
  /* justify-content: center; */
  background-color: white;
  align-items: center;
  border-radius: 10px;
  height: 6vh;
  justify-content: center;
  width: 90%;
  margin: 0px auto;
  border: 1px solid gray;
  cursor: pointer;
}

.google-logo{
  width: 2.1vw;
  height: 3.1vh;
  border-radius: 10vh;
  margin: 0 10px ;
}

.login-by-google{
  text-align: center;
  flex-grow: 1;
  padding: 1vw;
  font-size: 1.2vw;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input{
  width: 27vw;
  text-align: left;
  font-size: 1.3vw;
  font-family: cursive;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid black;

}

.forgot{
  text-align: right;
  align-self: flex-end;
  margin-right: 2.5vw;
}

.submitbtn{
  width: 27vw;
  text-align: center;
  font-size: 1.3vw;
  font-family: cursive;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.submitbtn:hover{
  background-color: black;
  color: white;
}


.seperator-or-div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sep{
  flex-grow: 1;
  width: 12vw;
}

.or{
  padding: 20px;
}

.create-acc{
  text-decoration: none;
  color: black;
  font-size: 1vw;
}