/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 98vw;
  margin: auto;
}

.footer-container {
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 1vh; */
    width: 100%;
    height: 10.5vh;
    background-color: rgba(22, 172, 209, 0.295);
  }
  
  footer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .footer-logo {
    width: 4.1vw;
    height: 4.1vw;
    border-radius: 10vh;
    margin: 0 10px;
  }
  
  .facebook-logo {
    width: 2vw;
    height: 3.5vh;
    margin: 0 15px;
    cursor: pointer;
  }
  
  .instagram-logo {
    width: 2vw;
    height: 3.5vh;
    margin-right: 50px;
    border-radius: 200px;
    cursor: pointer;
  }
  
  .company-name {
    font-size: 4vh;
    margin: 0 10px;
    letter-spacing: 2px;
  }
  
  .cprt {
    margin: 0 10px;
    letter-spacing: 2px;
  }