* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: auto;
}



/* Main container styles */
.main-container {
  width: 98vw;
  margin: 1vh 0;
}

.intro-section {
  width: 95vw;
  height: 50vh;
  /* background-color: rgb(206, 25, 25); */
  margin: 2vh auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.introleft {
  /* background-color: rgb(0, 204, 255); */
  width: 49%;
  /* float: left; */
  height: 100%;
  display: flex;
  align-items: center;

  /* display: table; */
  /* width: 100%;
            height: 100%; */
}

.introright {
  width: 49%;
  /* float: right; */
  height: 100%;
  /* flex-shrink: 10vh; */
  /* background-color: rosybrown; */
}

.introleftmiddle {
  /* background-color: rgb(184, 66, 66); */

  display: table-cell;
  vertical-align: middle;
  height: 70%;
}

.welcome {
  font-size: 5vh;
  letter-spacing: 0.1vh;
}

.everest {
  font-size: 7vh;
  letter-spacing: 0.1vh;
  color: rgb(0, 204, 255);
}

.message {
  padding: 5px;
  margin: 10px;
  font-size: 1.6vw;
  font-family: monospace;
  text-align: justify;
}

.tbtn {
  margin: 5px 5px;
  border: 1px solid black;
  padding: 0.5vw 0;
  width: 45%;
  border-radius: 10px;
  font-size: 1.5vw;
  letter-spacing: 0.2vw;
  color: white;
  cursor: pointer;
  border: 1px solid rgb(12, 80, 97);
  background-color: rgb(22, 172, 209);
}

.tbtn:hover {
  color: rgb(22, 172, 209);
  background-color: white;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 30px 0px 0px 30px;
  /* opacity: 90%; */
  box-shadow: -0.5vw 0px 1vw rgb(22, 172, 209);
}

/* Recommended Section style */
.recommended {
  /* height: 80vh; */
  width: 95vw;
  margin: 0 auto;
  /* background-color: red; */
}

.recom-title {
  height: 9%;
  text-align: center;
  /* background-color: green; */
  padding: 2%;
  font-size: 2.7vw;
}

.recom-container {
  /* background-color: rgb(209, 121, 121); */
  width: 100%;
  /* height: 90%; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* flex-wrap: wrap; */
  /* flex-flow: column wrap; */
}

.card {
  /* background-color: rebeccapurple; */
  width: 28%;
  /* display: inline-block; */
  margin: 1vh 0;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* order: 3; */
  /* flex-grow: 2; */
  /* flex-shrink: 2; */
  /* align-self: center; */
}

.card-upper {
  width: 100%;
  /* background-color: white; */
  height: 40%;
}

.card-lower {
  width: 100%;
  /* background-color: green; */
  height: 58%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(19, 17, 17);
  border-top-color: transparent;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.courseimg {
  height: 100%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 10px 10px rgb(22, 172, 209);
}

.course-status {
  margin: 5px;
  padding: 2px;
  color: gray;
  font-size: 1.1vw;
}

.course-title {
  margin: 5px;
  font-size: 1.8vw;
}

.course-title > a {
  text-decoration: none;
  color: black;
}

.about-course {
  flex-grow: 1;
  margin: 5px;
  padding: 5px;
  text-align: justify;
  font-size: 1.4vw;
  font-family: monospace;
}

.btnlearnmore {
  align-self: flex-end;
  margin: 10px 15px;
  padding: 5px 15px;
  background-color: rgb(22, 172, 209);
  color: white;
  cursor: pointer;
  border: 1px solid rgb(12, 80, 97);
  font-size: 1.1vw;
  border-radius: 5px;
}

.btnlearnmore:hover {
  background-color: white;
  color: rgb(22, 172, 209);
}

