/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: auto;
}

.home {
    margin-left: 50px;
  }
  
  .head-container {
    /* margin-top: 5px; */
    width: 100%;
    height: 8vh;
    position: sticky;
    top: 0px;
    /* border-top: 1px solid rgb(218, 214, 214); */
    border-bottom: 2px solid rgb(238, 234, 234);
    background-color: white;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: rgb(46, 45, 45);
    /* margin: auto; */
  }
  
  header nav ul li {
    display: inline-block;
    margin: 0 1%;
    font-family: "Titillium Web", sans-serif;
    font-size: 1.5vw;
  }
  
  .head-container header {
    display: table;
    width: 100%;
    height: 100%;
    /* background: #ccc; */
  }
  
  .head-container header nav {
    display: table-cell;
    vertical-align: middle;
    letter-spacing: 1.5px;
    /* letter-spacing: normal; */
    /* text-align: center; */
  }
  
  .nav-logo {
    font-size: 3vw;
    font-family: "Gamja Flower", cursive;
    cursor: pointer;
    color: rgb(0, 204, 255);
    text-shadow: -10px 5px 20px rgb(28, 185, 224);
  }
  
  .btn {
    font-size: 80%;
    padding: 5px;
    width: 130%;
    margin: 0px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(12, 80, 97);
    color: white;
    background-color: rgb(22, 172, 209);
  }
  
  .btn:hover {
    color: rgb(22, 172, 209);
    background-color: white;
  }
  
  .btnli {
    margin: 10px;
  }